html,body{
	height:100%;
  color:#555;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.9);
}

#landingpagebody{
  background-size: cover;
  background-image: url("/images/coffee_touched_up.jpg");
}

#brand{
	padding-left:1.5em;
  color:#333;
}

.form-control{
  border-radius: 0px;
}

.btn{
  border-radius: 0px;
  background-color:#3F51B5;
  color:#fff;
  border-color:#3F51B5;
}

.btn:hover, .btn:active, .btn:focus{
  background-color:#5C6BC0;
  color:#fff;
  border-color:#3F51B5;
}

#main-nav{
  border:0px;
  border-bottom:1px solid #e7e7e7;
  border-radius: 0px;
}

#registration{
  margin:0 auto;
  max-width: calc(100% - 2em);
  width: 25em;
  margin-top:4em;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.9);
}

#demandform{
	margin:0 auto;
  max-width: calc(100% - 8em);
  margin-top:1em;
	margin-bottom:2em;
}

#demandform .form-control{
	border-radius: 4px;
}

#demandform .input-group .form-control{
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#regbtn{
  width: calc(100% - 4em);
  margin-bottom: 1em;
}

#search-bar{
	width:20em;
}

#main{
	height:calc(100% - 52px);
}

#main .row{
	height:100%;
}

#main>.row {
  overflow-y:scroll;
}

#left {
  width: 33.33333%;
	height:100%;
}

#map-canvas {
	width:66.66666%;
  height:100%;
}

#app-nav{
	margin:0px;
}

#logout{
	padding-right:0;
}

#comments{
	height:6em;
}

#register-result{
  display: none;
  font-size: 0.75em;
  padding: 1em 0em;
  width: 75%;
  margin: 0px auto;
}