<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>App</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/indexStyle.css" rel="stylesheet">
  </head>

  <body>
    <!-- begin template -->
    <nav class="navbar navbar-default" id="app-nav">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#creds" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="./app" id="brand">
            <i class="fa fa-truck"></i>&nbsp;&nbsp;BringIt</a>
          <p class="navbar-text navbar-left">Crowdsourced Delivery</p>
		    </div>

		    <div class="collapse navbar-collapse" id="creds">
          <div id="logout" class="navbar-form navbar-right">
            <div class="form-group" class="navbar-form navbar-right">
              <button id="logoutbtn" class="btn btn-default" onclick="logOut();">Log Out</button>
            </div>
          </div>
          <p class="navbar-text navbar-right">Signed in as <strong>{{username}}</strong></p>
          <form name="demandbtns" id="demandbtns" class="navbar-form navbar-right">
            <div class="form-group" class="navbar-form navbar-right">
              <button type="button" id="demandbtn" class="btn btn-default"
                  data-toggle="modal" data-target="#demandModal" >Ask for Something</button>
            </div>
          </form>
		    </div>
		  </div>
		</nav>

    <div class="container-fluid" id="main">
      <div class="row">
        <div class="col-xs-8" id="left"><br>
          <div class="navbar-form">
		        <div class="form-group">
			        <input type="text" class="form-control" id="search-bar" placeholder="Search">
		        </div>
		        <button class="btn btn-default">Search</button>
		      </div>
          <hr>
          <div class="order-tile"></div>
        </div>
        <div class="col-xs-4" id="map-canvas"></div>
      </div>
    </div>
    <!-- end template -->

    <div class="modal fade" id="demandModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ask for Something</h4>
          </div>
          <div class="modal-body">
            <p>When you ask for something, other users will be able to fulfill your demand for a fee to be paid on on arrival.</p>
          </div>

          <form name="demand" id="demandform">
            <input type="hidden" name="fname" value="{{fname}}"/>
            <label>What do you need?</label>
            <input type="text" class="form-control" name="item" aria-label="Item" placeholder="What do you need?"><br>

            <label>How much should that cost?</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control" name="price" aria-label="Estimated Price" placeholder="Estimated Price of Item">
            </div><br>

            <label>How much would you tip?</label>
            <div class="input-group">
              <span class="input-group-addon">%</span>
              <input type="text" class="form-control" name="tip" aria-label="Estimated Price" placeholder="Service Fee">
            </div><br>

            <label>Where can this item be found?</label>
            <input type="text" class="form-control" name="shop" aria-label="shop" placeholder="Enter a location"><br>

            <label>Where do you want it delivered?</label>
            <input type="text" class="form-control" name="destination" aria-label="destination" placeholder="Enter a location"><br>

            <label>Any aditional comments?</label>
            <textarea type="text" class="form-control" name="comments" id="comments"
              aria-label="comments" placeholder="Type them here (optional)"></textarea><br>

          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" onclick="makeDemand()" class="btn btn-primary">Make Request</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- script references -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts.js"></script>
    <script src="/demands.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
  </body>
</html>
