<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Register</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">
</head>
<body>

	<div class="navbar navbar-custom navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">FKALL</a>
			<a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		</div>

	</div>

	<div class="jumbotron">
		<h2>Sign up and start FKALL!</h2>
		<form>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">First Name:  </label>
						<input type="text" name="name" id="name" placeholder="John" required />
					</div>
				</div>
				<div class="col-md-6"><div class="form-group"><label for="name">Last Name:  </label>
					<input type="text" name="name" id="name" placeholder="Smith" required /></div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address: </label>
						<input type="email" class="form-group" id="exampleInputEmail1" placeholder="john.smith@abc.com">
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputPassword1">Password: </label>
						<input type="password" class="form-group" id="exampleInputPassword1" placeholder="Password">
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" required> I agree with the terms and conditions.
						</label>
					</div>
				</div>










		</form>

		<form>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>


						<div>
					<span>Already a member?</span>
					<button type="submit" class="btn btn-default">Login</button>


			</div>


	</div>


</body>
</html>
