<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome</title>
		<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link href="/indexStyle.css" rel="stylesheet">
	</head>
	<body id="landingpagebody">
		<nav class="navbar navbar-default" id="main-nav">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#creds" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#" id="brand">Our Amazing Website</a>
		    </div>

		    <div class="collapse navbar-collapse" id="creds">
		      <div id="login" class="navbar-form navbar-right">
		        <div class="form-group">
		          <input id="login-username" type="text" class="form-control" placeholder="Username">
		        </div>
		        <div class="form-group">
			        <input id="login-password" type="password" class="form-control" placeholder="Password">
		        </div>
		        <div id="login-result" class="alert alert-danger"></div>
		        <button id="loginbtn" class="btn btn-default" onclick="logIn();">Sign In</button>
		      </div>
		    </div>
		  </div>
		</nav>

		<div class="panel panel-default" id="registration">
		  <div class="panel-body">
		    <h3>Get Started Today!</h3><hr>
			<div class="input-group">
			  <span class="input-group-addon" id="uname">@</span>
			  <input id="username" type="text" class="form-control" name="username" placeholder="Username" aria-describedby="uname">
			</div><br>
			<div class="form-group">
				<input id="email" type="text" class="form-control" name="email" placeholder="Email">
			</div>
			<div class="form-group">
				<input id="fname" type="text" class="form-control" name="fname" placeholder="First Name">
			</div>
			<div class="form-group">
				<input id="lname" type="text" class="form-control" name="lname" placeholder="Last Name">
			</div>
			<div class="form-group">
				<input id="password" type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<div id="register-result" class="alert alert-danger"></div>
			<br>
			<button type="submit" class="btn btn-default" id="regbtn" onclick="signUp();">Get Started</button>
		  </div>
		</div>

		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/index.js"></script>
	</body>
</html>
